---
---
<!doctype html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>404 - Page Not Found</title>
    <meta name="description" content="404 - Page Not Found" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="refresh" content="0; url=/" />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body></body>
</html>
