---
import Layout from "@layouts/layout.astro";
import { PoweredBy, BackGrid, RichText, GamingButton } from "@evex-ui";
---
<Layout title="Home">
    <div class="flex flex-col">
        <BackGrid>
            <div class="w-screen h-screen flex flex-col items-center justify-center">
                <div class="h-1/2 flex flex-col items-start justify-center">
                    <RichText className="text-3xl md:text-4xl lg:text-6xl">Build Rich Web UI.</RichText>
                    <div class="text-xs md:text-sm text-neutral-400 px-2">
                        <p>Evex UI is the best choice for building </p>
                        <p>The next generation of modern, beautiful websites. </p>
                    </div>
                    <div class="mt-10 flex justify-center w-full">
                        <GamingButton className="px-24">Get Started</GamingButton>
                    </div>
                </div>
                <PoweredBy className="mt-5 text-sm" word="Backed" icon="/favicon.png" name="Evex Developers" />
            </div>
        </BackGrid>
    </div>
</Layout>
