---
import { HeroAnnounce } from "@/components/heroAnnounce";
import { Spotlight } from "@/components/ui/spotlight";
import { PoweredBy, RichText, GamingButton } from "@evex-ui";
---
<Spotlight className="top-20 left-0 sm:top-0 md:left-60 md:-top-20" fill="#ffffff77" />
<div class="flex flex-col w-screen h-dvh">
  <div class="w-screen h-screen flex flex-col items-center justify-center">
    <div class="h-1/2 flex flex-col items-start justify-center">
      <HeroAnnounce
        link="https://github.com/evex-dev/evex-ui"
        className="mb-5"
      />
      <RichText className="text-3xl md:text-4xl lg:text-6xl"
        >Build Rich Web UI.</RichText
      >
      <div class="text-xs md:text-sm text-neutral-400 px-2">
        <p>Evex UI is the best choice for building</p>
        <p>The next generation of modern, beautiful websites.</p>
      </div>
      <div class="mt-10 flex justify-center w-full">
        <GamingButton className="!px-24">Get Started</GamingButton>
      </div>
    </div>
    <a href="https://evex.land" target="_blank">
      <PoweredBy
        className="mt-5 text-sm"
        word="Backed"
        icon="/favicon.png"
        name="Evex Developers"
      />
    </a>
  </div>
</div>
