---
import { HeroAnnounce } from "@/components/heroAnnounce";
import { Spotlight, Spotlight2 } from "@/components/ui/spotlight";
import { PoweredBy, RichText, GamingButton, BackGrid } from "@evex-ui";
---
<Spotlight
  className="hidden md:block left-[5dvw] top-[75dvh] bottom-0"
  fill="#5CE1E699"
/>
<Spotlight2
  className="hidden md:block left-[95dvw] top-[75dvh] bottom-0 transform scale-x-[-1]"
  fill="#6158B199"
/>
<BackGrid className="hidden md:block absolute top-[25dvh] left-[12.5dvw] lg:top-[30dvh] lg:left-[20dvw] !w-64 !h-64 [mask-image:radial-gradient(circle,#000_10%,transparent_70%)] opacity-0 animate-fadein" backgridColor="#336D7811" backgridLineBetween="15px" />
<BackGrid className="hidden md:block absolute top-[25dvh] right-[12.5dvw] lg:top-[30dvh] lg:right-[20dvw] !w-64 !h-64 [mask-image:radial-gradient(circle,#000_10%,transparent_70%)] opacity-0 animate-fadein" backgridColor="#6B68C811" backgridLineBetween="15px" />
<div class="flex flex-col w-screen max-h-dvh overflow-hidden">
  <div class="w-screen h-screen flex flex-col items-center justify-center">
    <div class="h-1/2 flex flex-col items-start justify-center">
      <HeroAnnounce
        link="https://github.com/evex-dev/evex-ui"
        className="mb-5"
      />
      <RichText className="text-3xl md:text-4xl lg:text-6xl"
        >Build Rich Web UI.</RichText
      >
      <div class="text-xs md:text-sm text-neutral-400 px-2">
        <p>Evex UI is the best choice for building</p>
        <p>The next generation of modern, beautiful websites.</p>
      </div>
      <div class="mt-10 flex justify-center w-full">
        <GamingButton className="!px-24" baseColor="#5ce0e5"
          >Get Started</GamingButton
        >
      </div>
    </div>
    <a href="https://evex.land" target="_blank">
      <PoweredBy
        className="mt-5 text-sm"
        word="Backed"
        icon="/favicon.png"
        name="Evex Developers"
      />
    </a>
  </div>
</div>
